body {
background-color: #000;
color: #FFF;
}

h2 {
color: #0BF;
}

strong {
color: #0BF;
}

table {
border-spacing: 20px;
}

td{
text-align: center;
}

td a:hover {
text-transform: uppercase;
}

ul li {
list-style-type: none;
}

ul#tabs {
list-style-type: none;
margin: 50px 0 0;
padding: 0 0 0.3em;
}

ul#tabs li {
display: inline;
background-color: #FFE;
margin: 30px 10px 0 0;
padding: 0 0 0.1em 0;
}

ul#tabs li a {
color: #FFF;
background-color: #789;
border: 1px solid #c9c3ba;
border-bottom: none;
padding: 0.3em .3em .4em .3em;
text-decoration: none;
}

a.hideDev {
color: #00F;
display: none;
}

a.DEV {
color: #6F3;
text-decoration: none;
}

a:hover {
}

ul#tabs li a:hover {
background-color: #A00;
}

ul#tabs li a.selected {
color: #FFF;
background-color: #000;
font-weight: bold;
padding: 1em .3em .5em 0.3em;
}

div.tabContent {
border: 1px solid #c9c3ba;
padding: .5em;
background-color: #000;
}

div.tabContent.hide {
display: none;
}
